body {
  background-color: red;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  height: 100vh;
  position: relative;
  z-index: 3;
  animation: hide-text 4s;
  transition: 1s ease-in;
}

@keyframes hide-text {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

.play-animation {
  animation: hide-text 4s;
}

h1 {
  width: 100%;
  color: aliceblue;
  text-align: center;
  font-family: 'Noto Sans Chakma', sans-serif;
  font-size: 7rem;
  letter-spacing: 0.2rem;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  width: 8rem;
  height: 8rem;
}
