body {
  background-color: red;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  height: 100vh;
  position: relative;
  z-index: 3;
  animation: hide-text 4s;
  transition: 1s ease-in;
}

@keyframes hide-text {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

.play-animation {
  animation: hide-text 4s;
}

h1 {
  width: 100%;
  color: aliceblue;
  text-align: center;
  font-family: 'Noto Sans Chakma', sans-serif;
  font-size: 7rem;
  letter-spacing: 0.2rem;
  position: absolute;
  z-index: 5;
}

h2 {
  width: 100%;
  position: absolute;
  top: 0;
  color: aliceblue;
  text-align: center;
  font-family: 'Noto Sans Chakma', sans-serif;
  font-size: 7rem;
  letter-spacing: 0.2rem;
  z-index: 4;
}

button {
  position: absolute;
  cursor: pointer;
  background-color: inherit;
  border: none;
  width: 8rem;
  height: 8rem;
  z-index: 1;
}

.symbol {
  position: absolute;
  font-size: 2rem;
  color: black;
  transition: ease-out 2s;
  animation: fade-out 4s forwards;
  z-index: 2;
}

.hidden {
  visibility: hidden;
}

clue {
  position: absolute;
  z-index: 3;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
